*{
    font-family: 'Montserrat', sans-serif;
}

.test-class {
    background-color : blue;
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }

.game-item {
    background-color: #4a708b;
    opacity: 0.6;
    color: white;
    padding: 2%;
    flex: 1 0 20%; 
    height: 200px;
    margin:5px;
}

.img-home{
    height: 50%;
    width: 50%;
}

.table-container {
   padding: 1% 5% 1% 5%;
   text-align: center;
}

.thead-dark{
    background-color: #aaaaaa !important;
}

.clickable-row{
    cursor: pointer;
}

body{
    background-color: #F3EFF5;
}

.table{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    border: 1px solid #0062cc;
}

.submitBtn
{
    width: 20%;
    border-radius: 5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.form-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.ciborg-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    width:100%;
}

.input-block label { 
    display: block;
    text-align: left;
}
