.test-class {
    background-color : blue;
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }

.game-item {
    background-color: #4a708b;
    opacity: 0.6;
    color: white;
    padding: 2%;
    flex: 1 0 20%; 
    height: 200px;
    margin:5px;
}

.img-home{
    height: 50%;
    width: 50%;
}