<div id="GameList">
     {{#each this}}
            <div class="row">
                <div class="col-md-12">
                    <h2>{{name}}</h2>
                    <p>Rating:{{average_user_rating}} by {{num_user_ratings}} users</p>
                    <p>Show detail</a></p>
                </div>
            </div>
        {{/each}}
</div>
