<h1 class="title">GET USER NAME -> ficara nos cookies da sessao?</h1>
 
 <div class="userGroups">
    <table class="table">
        <tr class="thead-dark">
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{#each payload}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
            </tr>
        {{/each}}
    </table>    
</div>

<div class="createGroupBox">
    <h4 class="formTitle">Add new group</h4>
    <form id="createGroup" action="/groups" method="POST">
        <label>Name</label>
        <input type="text" id="formName" >
        <label>Description</label>
        <input type="text" id="formDescription" >
        <input type="submit" >
    </form>
</div>