<div class="container">
    <h1 class="title">List of all owned groups</h1>
    <div table-container table-responsive allGroupsBox>
        <table class="table table-striped table-dark table-hover">
        <tr class="thead-dark">
            <th class="thead-dark">Name</th>
            <th class="thead-dark">Description</th>
        </tr>
        {{#each payload}}
            <tr class="clickable-row" data-href="#group/{{id}}">
                <td>{{name}}</a></td>
                <td>{{description}}</td>
            </tr>
        {{/each}}
    </table>    
    </div>

    <div>
    <h4 class="formTitle">Add new group</h4>
    <form id="createGroup" action="/groups" method="POST">
        <div class="input-group">
            <label for="formName">Name</label>
            <input type="text" id="formName" class="form-control" >
            <label for="formDescription">Description</label>
            <input type="text" id="formDescription" class="form-control" >
            <input type="submit" class="submitBtn" >
        </div>
    </form>
    </div>
</div>    

 

