<div class="container login-container">
    <div class="col-md-6 login-form">
        <h3>Login</h3>
        <form id="loginForm">
            <div class="form-group">
                <input type="text" id="userId" name="userId" class="form-control" placeholder="Your UserId *" value="" required/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Your Password *" value="" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="submitBtn" value="Login" />
            </div>
        </form>
    </div>
</div>