<div class="container signIn-container">
    <div class="col-md-6 login-form">
        <h3>Sign in</h3>
        <form id="signInForm" class=".ciborg-form">
            <div class="form-group">
                <input type="text" id="userId" name="userId" class="form-control" placeholder="Your UserId *" value="" required/>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name *" value="" required/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Your Password *" value="" required/>
            </div>
            <div class="form-group">
                <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Re-renter Your Password *" value="" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn submitBtn" value="Sign In" />
            </div>
        </form>
    </div>
</div>