<table class="table">
  <thead class="thead-dark">
    <tr>
      {{#each header as |column|}}
        <th scope="col" class="test-class">{{column}}</th>
      {{/each}} 
    </tr>
  </thead>
  <tbody>
	  {{#each elements as |row|}}
	    <tr>
		    {{#each row as |value|}}
			    <td>{{value}}</td>
		    {{/each}} 
	  </tr>
  	{{/each}} 
  </tbody>
</table>